body {
  background: url(../images/brian.png) center no-repeat;
  font-size: 50px;
  display: flex;
  font-family: Roboto;
}

span {
  font-size: 20px;
  font-family: Roboto;
}

div {
  font-size: 30px;
}

@media (max-width: 767px) {
  span {
    font-size: 40px;
    font-family: Roboto;
  }
}

@media (max-width: 767px) {
  div {
    font-size: 70px;
    color: aqua;
  }
}
